.card-frame.bbcb {
  background-size: 100%;
  background-color: var(--color);

  .card-layer {
    position: absolute;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.card-frame.bbcb::before {
  @bd: 4mm;
  border: @bd solid var(--color);
  border-radius: @bd*2;
  content: '1';
  color: transparent;
  width: calc(100% - @bd*2);
  height: calc(100% - @bd*2);
  position: absolute;
  background-color: white;
  z-index: 0;
}

.bbcb .prop-卡背 {
  height: 100%;
}

.bbcb .prop-印象图 {
  top: 14mm;
  bottom: 18mm;
  left: 0;
  right: 0;
}

.bbcb .prop-规则文字 {
  height: 15mm;
  bottom: 4mm;
  left: 6mm;
  right: 6mm;
  padding: 0;
  background: white;

  font-size: 3.3mm;
  line-height: 1.5em;
  text-align: center;
}

.bbcb .prop-名称 {
  height: 16mm;
  top: 8mm;
  left: 14mm;
  right: 14mm;

  font-size: 6mm;
  font-weight: bold;
  text-align: center;
}

.bbcb .prop-点数 {
  height: 16mm;
  top: 6mm;
  left: 6mm;

  font-family: Reenie Beanie;
  font-size: 20mm;
  line-height: 10mm;
  font-weight: bold;
  text-align: center;
}

.bbcb .prop-符号 {
  left: 42mm;
  top: 7mm;
  width: 8mm;
  height: 8mm;
}
