.noodle-realm-frame {
  position: relative;
  width: 100%;
  height: 100%;
  color: #4c2e1b;

  background-color: white;
  text-align: center;

  .frame {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;

    &.screen {
      mix-blend-mode: screen;
    }
    &.multiply {
      mix-blend-mode: multiply;
    }
    &.padded {
      padding: 2mm;
      width: calc(100% - 4mm);
      height: calc(100% - 4mm);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .single & .frame.padded {
    padding: 3mm;
    width: calc(100% - 6mm);
    height: calc(100% - 6mm);
  }

  .name {
    position: absolute;
    left: 0;
    right: 0;
    top: 7.5%;

    .single & {
      top: 8.6%;
    }

    font-size: 5mm;
    font-family: Xiquezhaopaiti;
    font-weight: 400;

    padding-left: var(--ls);
    --ls: 0;
    letter-spacing: var(--ls);

    &.chars-2 {
      --ls: 1em;
    }
    &.chars-3 {
      --ls: calc(5em / 7);
    }
    &.chars-4 {
      --ls: calc(5em / 20);
    }
  }

  .type,
  .subtype {
    display: inline-block;
    font-size: 5mm;
    position: absolute;
    bottom: 23%;
    left: 0;
    right: 0;
    font-family: Xiquezhaopaiti;
    font-weight: 300;

    .single & {
      bottom: 24%;
    }
  }
  .explain {
    font-size: 2.7mm;
    height: 10mm;
    bottom: 11.5%;
    position: absolute;
    left: 8mm;
    right: 8mm;
    font-family: Xiquejuzhenti, 喜鹊聚珍体;

    .single & {
      bottom: 14%;
    }
  }

  .score,
  .bonus {
    display: none;
  }
}
