.stray {
  border: 2mm solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;

  .layer {
    position: absolute;
  }

  &:not(.front) .layer.front-only,
  &:not(.back) .layer.back-only,
  &:not(.居民) .layer.居民-only,
  &:not(.地点) .layer.地点-only,
  &:not(.行动) .layer.行动-only {
    display: none;
  }

  .layer.name,
  .layer.var {
    font-family: Xiquezhaopaiti;
    font-weight: bold;
    left: 1mm;
    top: 1mm;
    .text {
      margin: 0;
    }
  }
  .layer.var {
    transform: translate(0em, 1.3em);
    color: darkgrey;
  }

  .layer.loc,
  .layer.act {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    transform: translate(0, -3mm);
  }

  .layer.act .text {
    position: absolute;
    top: 4mm;
    right: 1mm;
    margin: 0;
    font-family: Xiquezhaopaiti;
  }

  .layer.rules {
    font-family: Xiquejuzhenti;
    bottom: 0;
    width: 100%;
    font-size: 3mm;
    text-align: center;
    .text {
      margin: 0;
    }
  }

  .layer.back {
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      object-position: left;
      width: 100%;
      height: 100%;
    }
  }

  .layer.stats {
    width: 8em;
    right: 1mm;
    top: 1mm;
    text-align: right;
  }

  &.居民 .layer.loc {
    transform: translate(0, 2mm);
  }
}
