.stray {
  position: relative;
  padding: 4mm;
  .layer {
    position: absolute;
    border: 0.6mm solid black;
    border-radius: 1em;
    .text {
      padding: 0 0.3em;
      margin: 0;
    }
  }
  .layer.var {
    transform: translateY(2em);
  }
  .layer.loc {
    transform: translateY(5em);
  }
  .layer.act {
    transform: translateY(7em);
  }
}
