.volleyball {
  --border-color: slategray;
  .layer.hits {
    transform: translate(3mm, 3mm);
    .playfield {
      border-radius: 3mm 3mm 0 0;
    }
  }
  .layer.catches {
    transform: translate(3mm, 16mm);
    .playfield {
      border-radius: 0 0 3mm 3mm;
    }
  }
  .layer.illustration {
    transform: translate(4mm, 4mm);
    width: 46mm;
    height: 78mm;
    border: 1mm solid var(--border-color);
    border-radius: 2mm;
  }
  .layer.name {
    height: unset;
    top: unset;
    bottom: 4mm;
    font-family: Xiquezhaopaiti;
  }
  .layer.summary {
    --x: calc(var(--t-pos-x) + var(--t-class));
    --y: calc(var(--t-pos-y) + var(--t-field));
    transform: translate(var(--x), var(--y));

    &.field-h {
      --t-field: calc(1mm - 1mm);
    }
    &.field-c {
      --t-field: 30mm;
    }

    --t-pos-x: 12mm;
    --t-pos-y: 12mm;
    &.pos-0,
    &.pos-2 {
      --t-pos-x: -12mm;
    }
    &.pos-0,
    &.pos-1 {
      --t-pos-y: -12mm;
    }

    --t-class: calc(1mm - 1mm);
    color: gold;
    font-family: sans-serif;
    &.class-0 {
      display: none;
    }
    &.class-1 {
      color: dodgerblue;
      --t-class: -3mm;
    }
    &.class-3 {
      color: crimson;
      --t-class: 3mm;
    }
  }

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .text {
    text-align: center;
  }
  .illust {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .playfield {
    width: 12mm;
    height: 12mm;
    border: 1mm solid var(--border-color);
    background: white;

    > .ball,
    > .ballgroup {
      &:nth-child(1) {
        transform: translate(3mm, 3mm);
      }
      &:nth-child(2) {
        transform: translate(9mm, 3mm);
      }
      &:nth-child(3) {
        transform: translate(3mm, 9mm);
      }
      &:nth-child(4) {
        transform: translate(9mm, 9mm);
      }
    }

    .ball {
      r: 1.5mm;
      &.class-0 {
        display: none;
      }
      &.class-1 {
        fill: dodgerblue;
      }
      &.class-2 {
        fill: gold;
      }
      &.class-3 {
        fill: crimson;
      }
    }

    .ballgroup-2 .class-1 {
      transform: translate(-0.35mm, 0.35mm);
    }
    .ballgroup-2 .class-2 {
      transform: translate(0.35mm, -0.35mm);
    }

    .ballgroup-3 .class-1 {
      transform: translate(-0.7mm, 0.7mm);
    }
    .ballgroup-3 .class-3 {
      transform: translate(0.7mm, -0.7mm);
    }
  }
}
